<!DOCTYPE html>
<html>
<head>
   <title>Demo Text</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="card">
      <h1>Demo Text</h1>
      
      <form action="/" method="post">
         <div class="input-box">
            Nama depan:<br />
            <input type="text" name="namaDepan" placeholder="Masukkan nama depan" />
         </div>
         <div class="input-box">
            Nama belakang:<br />
            <input type="text" name="namaBelakang" placeholder="Masukkan nama belakang" />
         </div>
         <button type="submit">Kirim</button>
      </form>
   </div>
</body>
</html>
